# Discord Bot Token
DISCORD_TOKEN=
CLIENT_ID=

# Lavalink Configuration
LAVALINK_HOST=lavalink.jirayu.net
LAVALINK_PORT=443
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=true

# Bot Settings
DEFAULT_PREFIX=a!
OWNER_ID=

# Web Server
PORT=
SUPPORT_SERVER=

# Spotify (Optional - for better metadata)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=